  * { box-sizing: border-box;}
  body { 
    margin: 0;
    background: #7fa;
  }
  h2, h3 {
    margin: 0;
  }
  body, select, option { 
    font: 16px arial;
  }
  select, option {
    padding: 8px;
    margin: 10px;
  }
  .section {
    max-width: 412px;
    width: 100%;
    position: absolute;
    padding: 16px;
  }
  #main { 
    height: 100%;
    white-space: nowrap;
  }
  span {
    font-size: 13px;
  }
  #quiz {
    background: #bdf;
    min-height: 100%;
    /* overflow-y: scroll; */
  }
  #score {
    text-align: right;
    position: relative;
    top: -8px;
    font-size: 13px;
  }
  #question {
    min-height: 4em;
    background: #118;
    color: #ffd;
    border-radius: 15px;
    padding: 20px;
  }
  li {
    display: inline-block;
    list-style-type: none;
    width: 160px;
    margin: 12px;
    padding: 10px;
  }
  .choice {
    display: list-item;
    list-style-type: upper-latin;
    width: 85%;
    margin: 20px;
  }
  button {
    font-weight: bold;
    font-size: large;
    margin: 5px 12px;
    border: none;
    width: 60px;
    height: 35px;
  }
  li, button {
    background: #ffd;
    color: #000;
    cursor: pointer;
    border-radius: 15px;
  }
  #result, #control{
    padding-left: 12%;
    white-space: nowrap;
    width: 85%;
    height: 1em;
  }
  #control {
    padding-bottom: 20px;
  }
  #out { 
    margin: 12px;
    position: fixed;
    bottom: 0;  
  }
  #clear { 
    margin: 12px;
    position: fixed;
    bottom: 0;  left:150px;
  }
  #add2hs { 
    border: 1px solid;
    position: fixed;
    bottom: 0; right: 0;
    display: none; 
  }